html { 
background: url('https://www.hdwallpapers.in/download/moon_tree_starry_sky_night_stars_dark_4k_hd_creative-2560x1440.jpg');
background-size: cover; 
background-repeat: no-repeat;
background-attachment: fixed; 
height: 1vh; 
}