html {
  background: url('https://pukacyi.github.io/Cyiara/global/assets/hell.png') no-repeat fixed;
  background-size: cover;
  background-color: var(--htmlfallbackdark) !important;
}

#norax {
  background-color: rgba(90, 2, 25, 0.15);
  border-radius: 1vh;
  border: 1.25px solid rgb(247, 6, 52);
  box-shadow: 0 0 85px rgb(200, 2, 40);
  backdrop-filter: blur(9px);
  width: 53em;
  height: 30em;
  margin: 10em auto 0 !important;
  display: flex;
  flex-direction: column;
  text-align: left !important;
  color: white;
  font-family: 'Wii';
}

#flame {
  color: red;
  text-shadow: 0 0 10px black;
  font-size: 35px;
  text-align: right;
  margin-top: 20px;
  margin-right: 30px;
}

#norax .except {
  text-align: right !important;
  margin-right: 30px;
}

#norax .wii-button {
  margin: 25px 20px -5px;
  transition: transform 0.15s;
}

#norax .wii-button:hover {
  border: 2px solid rgb(247, 6, 52);
  transform: scale(1.02);
}

#norax hr {
  border: 2px dashed red;
  width: 75%;
  margin-left: 175px;
}