html {
    background: url('https://pukacyi.github.io/Cyiara/global/assets/interests.png') no-repeat fixed;
    background-size: cover;
    background-color: var(--htmlfallbackdark) !important;
}

.sparkles {
    background-color: rgba(40, 0, 15, 0.15);
    border-radius: 1vh;
    border: 1.25px solid rgb(244, 10, 107);
    box-shadow: 0 0 85px rgb(219, 16, 100);
    backdrop-filter: blur(9px);
    width: 53em;
    height: 30em;
    margin: 10em auto 0 !important;
    display: flex;
    flex-direction: column;
    text-align: left !important;
    color: white;
    font-family: 'Wii';
}

#stars {
    color: rgb(255, 240, 247);
    text-shadow: 0 0 10px rgb(212, 121, 165);
    font-size: 35px;
    text-align: center;
    margin: 10px 30px;
}

hr {
    border: 2px dashed rgb(255, 240, 247);
}

#stars .except {
    text-align: center !important;
    margin-right: 30px;
    font-size: 19.5px;
    text-shadow: none !important;
}

#stars .except-this {
    font-size: 12px;
}

.wii-button {
    margin: 25px 20px -5px;
}

.wii-button:hover {
    border: 2px solid rgb(247, 6, 52);
}